.dash-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 1rem;
  height: 100%;
  background-color: lightgray;
  transition: all 0.5s;
  overflow: auto;
}

.dash-container h1,  .dash-container h3 {
  font-size: 1rem;
}

.dash-container-open {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  overflow: auto;
}

.dash-container-open h1  {
  font-size: 2rem;
}

.dash-container .pfp-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.dash-container-open .pfp-image-open {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.dash-container .account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 769px) {
  .dash-container {
    display: none;
  }

  .dash-container-open {
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }

  .dash-container-open .pfp-image-open {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}
