.left-nav-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
    background-color: rgb(20,50,90);
    transition: all 0.2s;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    width: 50%;
    justify-content: center;
    border-bottom-right-radius: '50%';
    border-top-right-radius: '50%';
}

.left-nav-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
    background-color: rgb(20,50,90);
    transition: all 0.2s;
    width: 200px;
    justify-content: 'space-between';
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#nav .main-title {
    padding: 0 2rem;
    color: white;
}

#nav h1, #nav h3 {
    color: white;
}

#nav .roles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-items: center;
    gap: 2rem;
}

#nav .roles-container a {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nav .button {
    margin: auto;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: medium;
    transition: all 0.2s;
    background: none;
    color: white;
    border: none;
}

#nav button:hover {
    filter: drop-shadow(0px 0px 8px lightblue);
    cursor: pointer;
}

#nav .user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
}

#nav .user-info-container a, #nav .role-buttons a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    gap: 10px;
    transition: all 0.2s;
}

#nav a:hover {
    filter: drop-shadow(0px 0px 8px lightblue);
    cursor: pointer;
}

#nav .user-info-container h1 {
    font-size: medium;
}

@media (max-width: 769px) {
    .left-nav-user {
        flex-direction: row;
        width: 100%;
        min-height: 100px;
        gap: 1rem;
        z-index: 3;
    }
    .left-nav-login {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        min-height: 10%;
        border-radius: 0;
    }
    #nav .user-info-container {
        padding: 0;
        flex-direction: row;
        padding-right: 1rem;
    }

    #nav .roles-container {
        flex-direction: row;
    }

    #nav .roles-container .roles {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-height: 769px) {
    .left-nav-user {
        flex-direction: row;
        width: 100%;
        min-height: 100px;
        gap: 1rem;
    }
    .left-nav-login {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        min-height: 10%;
        border-radius: 0;
    }

    #nav .user-info-container {
        padding: 0;
        flex-direction: row;
        padding-right: 1rem;
    }
}