.roles-page {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.header h1 {
    align-content: center;
}

.header .user {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.header .user h3 {
    padding: 5px;
    border-radius: 5px;
}

.header .user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-buttons .tasks-container{
    display: flex;
}

.nav-buttons .tasks-container p {
    color: wheat;
    background-color: red;
    border-radius: 50%;
    padding: 0 0.5rem;
}

.content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    gap: 1rem;
    overflow: auto;
}

.content .div {
    box-shadow: 0px 0px 10px rgba(24,24,24,0.3);
    background-color: rgba(255,255,255,0.3);
    border: 1px solid rgba(24,24,24,0);
    border-radius: 10px;
    width: 40%;
    height: 90%;
    position: relative;
    transition: all 0.2s;
    padding: 1rem;
}

.content .div:hover {
    border: 1px solid rgba(24,24,24,0.3);
}

.content .leaderboard .label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .leaderboard .board {
    overflow: auto;
}

.content .leaderboard .board .user-board {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.content .leaderboard .board .user-board img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;
}

.content .leaderboard .board .user-board p {
    width: 20%;
}

.content .leaderboard .board .user-board .tasks {
    width: 30%;
}

.nav-buttons {
    display: flex;
    padding: 1rem 0;
    justify-content: center;
    gap: 1rem;
}

.nav-buttons button {
    border: none;
    background: none;
    padding: 2px 10px;
    border-radius: 5px;
}

.content .rewards {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.content .rewards .reward {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content .rewards .reward p {
    font-size: 1.5rem;
}

.tasks {
    position: relative;
    width: 100%;
}

.tasks .all-tasks {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow: auto;
    padding: 2rem 4rem;
    flex-wrap: wrap;
}

.tasks .all-tasks .task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 0px 0px 10px red;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.tasks .all-tasks .task-completed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 0px 0px 10px green;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.tasks .all-tasks .task h1, 
.tasks .all-tasks .task h3, 
.tasks .all-tasks .task p, 
.tasks .all-tasks .task h4, 
.tasks .all-tasks .task-completed h1, 
.tasks .all-tasks .task-completed h3, 
.tasks .all-tasks .task-completed p, 
.tasks .all-tasks .task-completed h4 {
    margin: 0;
}

.admin {
    position: relative;
}

@media (max-width: 769px) {
    .roles-page {
        margin: 0;
    }
    .content {
        flex-direction: column;
        gap: 2rem;
    }
    .content .div {
        width: 90%;
    }
}

@media (max-height: 769px) {
    .roles-page {
        margin: 0;
    }

    .content {
        height: 70%;
    }
}