.main-settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-container .settings-tab {
    padding-right: 1rem;
}

.settings-container .settings-tab button {
    border: none;
    background: none;
    font-size: 1.2rem;
    transition: all 0.3s;
}

.settings-container .settings-tab button:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px gray);
    text-decoration: underline;
}

.settings-current {
    padding: 1rem;
}

.settings-account {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.settings-account button {
    border-radius: 5px;
    transition: all 0.2s;
}

.settings-account button:hover {
    cursor: pointer;
    border-color: white;
}

.settings-name-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.settings-name-container input {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.settings-name-container button {
    border-radius: 5px;
    transition: all 0.2s;
}

.settings-name-container button:hover {
    cursor: pointer;
    background-color: lightgrey;
    border-color: rgb(24,24,24);
}

.settings-pfp-container button {
    border-radius: 5px;
    transition: all 0.2s;
}

.settings-pfp-container button:hover {
    cursor: pointer;
    background-color: lightgrey;
    border-color: rgb(24,24,24);
}

.settings-account .curr {
    border-radius: 5px;
    transition: all 0.2s;
}

.settings-account .curr:hover {
    cursor: pointer;
    background-color: lightgrey;
    border-color: rgb(24,24,24);
}

.settings-account .del-acc {
    border-radius: 5px;
    transition: all 0.2s;
}

.settings-account .del-acc:hover {
    cursor: pointer;
    background-color: lightgrey;
    border-color: rgb(24,24,24);
}