.loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner { 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid rgba(var(--foreground), 0.3);
    border-top-color: rgb(var(--foreground)); /* visible spinning piece */
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}