.login-page {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(var(--foreground));
}

/* Login Card for login page */
.login-container {
    padding: 1rem 2rem;
    position: relative;

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

@media (max-width: 1000px) {
  .login-container, .login-page {
    width: 100%;
    padding: 0;
  }
}