.register-page {
    height: 100vh;
    width: 100%;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(var(--foreground));
}

/* Register Card for register page */
.register-container {
    position: relative;
    margin-top: 144px;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.back-button {
    margin-top: 24px;
    background: none;
    border: none;
}

.register-page .right-side {
    height: 100%;
    width: 40%;
    position: relative;
    background-color: rgb(38, 68, 127);
    color: rgb(var(--background));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.register-page .right-side .register-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.register-page .left-side {
    width: 60%;
    height: 100%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.umb-title {
    color: rgb(var(--primary));
}

.uma-title {
    color: red;
}

.how-to-container {
    background-color: rgb(239, 241, 243);
    padding: 1em;
    border-radius: 20px;
}

#reg-buttons {
    color: rgb(var(--background));
}
#reg-buttons:hover {
    color: rgb(var(--button-hover));
}

@media (max-width: 1000px) {
    .register-page .right-side {
        width: 100%;
    }
    .register-page .left-side {
        display: none;
    }
}