.register-page {
    height: 100vh;
    width: 100vw;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(var(--foreground));
}

/* Register Card for register page */
.register-container {
    position: relative;
    margin-top: 144px;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.register-title {
    font-weight: 500;
}

.google-signin-button, .email-signup-button {
    width: 312px;
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;
    background: none;
    background-color: rgba(var(--button-background), var(--button-transparent));
    border: 1px solid rgb(var(--button-border));
    transition: background-color 0.3s ease;
}

.google-signin-button:hover, .email-signup-button:hover {
    color: rgb(var(--background));
    background-color: rgba(var(--primary-hover), 0.8);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.phrase {
    background-color: rgba(var(--error-background), 0.3);
    color: rgb(var(--error-color));
    padding: 16px 32px;
    border-radius: 5px;
    text-align: center;
    width: 312px;
}

.form-container .input {
    width: 244px;
    border: 1px solid rgba(var(--foreground), 0.3);
    border-radius: 20px;
    padding: 16px;
    outline: none;
    transition: all 0.3s ease;
}

.form-container .input:focus, .form-container .input:hover {
    border: 1px solid rgba(var(--foreground), 0.9);
}

.form-container .button {
    width: 312px;
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;
    background: none;
    color: rgb(var(--background));
    background-color: rgb(var(--foreground));
    border: 1px solid rgb(var(--button-border));
    transition: background-color 0.3s ease;
}

.form-container .button:hover {
    color: rgb(var(--background));
    background-color: rgba(var(--primary-hover), 0.8);
}

.button {
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
}

.back-button {
    margin-top: 24px;
    background: none;
    border: none;
}

.register-page .left-side {
    height: 100%;
    width: 50%;
    position: relative;
    z-index: 0;
    box-shadow: 0 0 50px rgba(var(--foreground), 0.9);
}

.register-page .left-side .register-options {
    margin-top: 244px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.register-page .right-side {
    width: 50%;
    height: 100%;
    background-color: rgb(var(--primary));
    color: rgb(var(--background));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
}

.register-page .right-side .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-page .right-side .middle .middle-title {
    width: 50%;
}

.register-page .right-side .bottom {
    width: 75%;
    margin-bottom: 1rem;
}

.register-page .right-side .bottom .bottom-title {
    text-align: center;
}

.register-page .right-side .bottom .used-by-logos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.register-page .right-side .logo {
    width: 50px;
    height: 50px;
}

@media (max-width: 900px) {
    .register-page .left-side {
        width: 100%;
    }
    .register-page .right-side {
        display: none;
    }
}