.roles-page {
    width: 900px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.header .user {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.header .user h3 {
    padding: 5px;
    border-radius: 5px;
}

.header .user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-buttons .tasks-container{
    display: flex;
}

.nav-buttons .tasks-container p {
    color: wheat;
    background-color: red;
    border-radius: 50%;
    padding: 0 0.5rem;
}

.content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.content .leaderboard .title {
    font-weight: 400;
    text-align: center;
}

.content .leaderboard {
    border-radius: 10px;
    width: 500px;
    position: relative;
    padding: 1rem;
}

.content .leaderboard .board .user-board {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: 1px solid rgb(var(--foreground));
}

.content .leaderboard .board .user-board img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;
}

.content .leaderboard .board .user-board p {
    text-wrap: nowrap;
}

.content .leaderboard .board .user-board .info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.content .leaderboard .board .user-board .stats {
    display: flex;
    gap: 2rem;
}

.content .leaderboard .board .user-board .tasks {
    width: 30%;
}

.content .leaderboard .board .top-three {
    height: 75px;
}

.content .leaderboard .board .top-three img {
    width: 50px;
    height: 50px;
}
.content .leaderboard .board .top-three .stats,
.content .leaderboard .board .top-three .info {
    font-weight: 400;
}

.nav-buttons {
    display: flex;
    padding: 1rem 0;
    justify-content: center;
    gap: 1rem;
}

.nav-buttons button {
    border: none;
    background: none;
    padding: 2px 10px;
    border-radius: 5px;
}

.rewards {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.rewards .title {
    font-weight: 400;
    text-align: center;
}

.rewards .reward {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content .rewards .reward p {
    font-size: 1.5rem;
}

.tasks {
    position: relative;
    width: 100%;
}

.tasks .all-tasks {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow: auto;
    padding: 2rem 4rem;
    flex-wrap: wrap;
}

.tasks .all-tasks .task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 0px 0px 10px red;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.tasks .all-tasks .task-completed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 0px 0px 10px green;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.tasks .all-tasks .task h1, 
.tasks .all-tasks .task h3, 
.tasks .all-tasks .task p, 
.tasks .all-tasks .task h4, 
.tasks .all-tasks .task-completed h1, 
.tasks .all-tasks .task-completed h3, 
.tasks .all-tasks .task-completed p, 
.tasks .all-tasks .task-completed h4 {
    margin: 0;
}

.admin {
    position: relative;
}

@media (max-width: 1000px) {
    .content {
        width: 90%;
        margin: auto;
    }
    .roles-page {
        width: 90%;
    }

    .content .leaderboard, .content .rewards {
        width: 300px;
    }

    .content .leaderboard .board .user-board {
        gap: 1rem;
        flex-direction: column;
        gap: 0;
        align-items: start;
        width: 100%;
    }

    .content .leaderboard .board .user-board .info {
        height: 25px;
        width: 100%;
        display: flex;
        align-items: start;
    }

    .content .leaderboard .board .user-board .stats {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem
    }

    .content .leaderboard .board .user-board img {
        display: none;
    }
}