.roles-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.roles-container h1 {
    font-weight: 500;
    text-align: center;
}

.role-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.role-form input {
    width: 312px;
    border: 1px solid rgba(var(--foreground), 0.3);
    border-radius: 10px;
    padding: 16px;
    outline: none;
    transition: all 0.3s ease;
}

.role-form input:focus, 
.role-form input:hover {
    border: 1px solid rgba(var(--foreground), 0.9);
}

.create-button {
    width: 312px;
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;
    background: none;
    color: rgb(var(--background));
    background-color: rgb(var(--foreground));
    border: 1px solid rgb(var(--button-border));
    transition: background-color 0.3s ease;
}

.create-button:hover {
    color: rgb(var(--background));
    background-color: rgba(var(--primary-hover), 0.8);
}

.available-roles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem
}

.role-container {
    display: flex;
    width: 450px;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 0px 10px;
    box-shadow: 0px 0px 10px rgba(24,24,24,0.3);
    border-radius: 1rem;
    border: 1px solid rgba(24,24,24,0.3)
}

.role-container button {
    border: 0;
    background: none;
    border-radius: 10px;
}

.join-button {
    text-decoration: none;
    color: rgb(var(--foreground));
}

@media (max-width: 1000px) {
    .role-container {
        width: 300px;
    }
}