.main-settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
}

.settings-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-current {
    width: 100%;
    box-shadow: 0 0 5px rgb(var(--foreground), 0.5);
    border-radius: 10px;
    position: relative;
}

.settings-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 2rem 0;
}

.settings-title {
    width: 100%;
}

.settings-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 0.2rem;
}

.settings-form .form-options {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.settings-user {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.current-account-2  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.current-account-2 .hidden-button {
    display: none;
}

.other-options {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.other-options .current-role {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 50px;
}

@media (max-width: 1000px) {
    .main-settings-container {
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .settings-user {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .settings-current {
        box-shadow: 0 0 5px rgb(var(--foreground), 0);
    }
    .current-account-2 {
        align-items: center;
    }
    .settings-form .form-options {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 2px;
        margin-top: 1rem;
    }
    .other-options {
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .other-options .current-role {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }
}