.dash-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  gap: 1rem;
}

.dash-card .stats-div {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.dash-card .points-div, .dash-card .completed-div {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 1px solid rgb(var(--foreground));
}

@media (max-width: 1000px) {
  .dash-card .points-div, .dash-card .completed-div, .dash-card .stats-div {
    width: 90%;
  }
}
