.dash-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}

.dash-card h1 {
  font-weight: 500;
}

.dash-card h3 {
  font-weight: 400;
}

.dash-card .stats-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.dash-card .pfp-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.dash-card .points-div, .dash-card .completed-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

@media (max-width: 769px) {
  
}
