/* Login style */
.nav-login {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.nav-login > h2, 
.nav-login > p,
.nav-login > .right-side {
    padding: 0 16px;
}

.nav-login .nav-right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
}

/* Used for logged in users */

.nav-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    width: 900px;
    color: rgb(var(--foreground));
}

.nav-user .roles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-items: center;
    gap: 2rem;
}

.nav-user .user-name {
    font-weight: 300;
}

.nav-user .user-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-user .user-info-container h1 {
    font-size: medium;
}

@media (max-width: 1000px) {
    .nav-user {
        width: 90%;
    }
    .nav-user .user-name {
        display: none;
    }
}