.role-admin-page {
    position: relative;
}

.control-buttons {
    border-top: 1px solid rgba(var(--foreground));
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.control-buttons button {
    background: none;
    border: none;
}

.control-buttons button span {
    font-weight: bolder;
    color: red;
}

.role-admin-page .content {
    position: relative;
}

.request-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.request-container .requested-users {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.request-container .requested-users .requested-user {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(var(--foreground), 0.5) inset;
    padding: 1rem;
    border-radius: 20px;
    position: relative;
}

.request-container .requested-users .requested-user .req-user-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.creation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.creation .creation-form {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#pts::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.selected-members {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 50%;
    position: relative;
}

.selected-members .selected-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.selected-members .selected-list .selected-member {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.submitted-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.submitted-tasks {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    gap: 1rem;
}

.submitted-task h4 {
    padding-top: 8px;
    margin: 0;
    border-top: 1px solid rgba(var(--foreground));
}

.submitted-tasks .submitted-task {
    width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(var(--foreground),0.5) inset;
    padding: 2rem;
    border-radius: 20px;
}

.submitted-tasks .submitted-task .task-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.role-config {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
}

.role-config .set-role-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.rewards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.set-reward-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}