.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.app-left {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* Global styles - to decrease css files/rulesets */
/* Title */
.title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-container-stay {
  align-items: center;
  justify-content: center;
}

.title-container > .title-main {
  font-size: 32px;
}

.title-main {
  font-weight: 500;
  font-size: 32px;
}

.title-card {
  font-weight: 400;
  font-size: 20px;
}

.sub-title {
  font-weight: 400;
  font-size: 16px;
}

/* Phrases */
.phrase-error {
  background-color: rgba(var(--error-background), 0.3);
  color: rgb(var(--error-color));
  padding: 16px 32px;
  border-radius: 5px;
  text-align: center;
  width: 312px;
}

/* Texts */
.text-center {
  text-align: center;
}

/* Buttons */
.button-lg {
  width: 512px;
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
  background: none;
  color: rgb(var(--background));
  background-color: rgb(var(--foreground));
  border: 1px solid rgb(var(--button-border));
  transition: background-color 0.3s ease;
  text-align: center;
}

.button-md {
  width: 356px;
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
  background: none;
  color: rgb(var(--background));
  background-color: rgb(var(--foreground));
  border: 1px solid rgb(var(--button-border));
  transition: background-color 0.3s ease;
  text-align: center;
}

.button-sm {
  width: 244px;
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
  background: none;
  color: rgb(var(--background));
  background-color: rgb(var(--foreground));
  border: 1px solid rgb(var(--button-border));
  transition: background-color 0.3s ease;
  text-align: center;
}

.button-xsm {
  width: 144px;
  padding: 0.5rem;
  border-radius: 20px;
  cursor: pointer;
  background: none;
  color: rgb(var(--background));
  background-color: rgb(var(--foreground));
  border: 1px solid rgb(var(--button-border));
  transition: background-color 0.3s ease;
  text-align: center;
}

.button-lg:hover,
.button-md:hover,
.button-sm:hover,
.button-xsm:hover {
  color: rgb(var(--background));
  background-color: rgba(var(--primary-hover), 0.8);
}

.button-error:hover {
  background-color: rgba(var(--error-background), 0.8);
}

/* Links */
.link-btn {
    transition: all 0.2s;
    text-decoration: none;
    color: rgb(var(--foreground));
    cursor: pointer;
}

.link-btn > span {
    text-decoration: underline;
}

.link-btn:hover {
    color: rgb(var(--button-hover));
}

/* Inputs */
.input-lg {
  width: 312px;
  border: 1px solid rgba(var(--foreground), 0.3);
  border-radius: 20px;
  padding: 16px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px rgba(var(--foreground), 0.5) inset;
}

.input-lg:focus,
.input-lg:hover {
    border: 1px solid rgba(var(--foreground), 0.9);
}

/* Selects */
.select-sm {
  appearance: none; /* For older browsers */
  -webkit-appearance: none; /* For Webkit browsers */
  -moz-appearance: none; /* For Firefox */
  appearance: base-select; /* Modern approach for custom styling */
  /* Other basic styles */
  width: 50%;
  text-align: center;
  border: 1px solid rgba(var(--foreground), 0.3);
  padding: 8px;
  font-size: 16px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.select-sm:focus, .select-sm:hover {
  border: 1px solid rgba(var(--foreground), 0.9);
}

/* Containers */
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Images */
.pfp-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(var(--foreground), 0.5);
}

@media (max-width: 1000px) {
  .app {
    flex-direction: column;
    align-items: center;
  }
  .title-container > .title-main, .title-main {
    font-size: 24px;
  }
  .title-card {
    font-size: 16px;
  }
  .title-container-change {
    align-items: center;
    justify-content: center;
  }
  .sub-title {
    font-size: 12px;
  }
  .pfp-image {
    width: 50px;
    height: 50px;
  }
}