.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.app-left {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

@media (max-width: 1000px) {
  .app {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-height: 1000px) {
  .app {
    flex-direction: column;
    align-items: center;
  }
}